.splashBody {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.splashMenu {
  width: 100%;
  height: 68px;
  background-color: var(--splashMenu-bgcolor);
  display: flex;
  align-items: center;
  font-size: 20px;
}

.splashLogo {
  margin-left: 32px;
  width: 108px;
  height: 49px;
  background-image: url('../images/splashLogo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.splashLogo:hover {
  cursor: pointer;
}

.splashOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 10px;
  height: 68px;
  width: calc(100% - 146px);
}

.splashOption {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--secondary-color);
  width: 130px;
  height: 68px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-inline: 30px;
  margin-bottom: 2px;
  background-color: transparent;
  transition: background .5s, color .5s;
}

.splashOption:hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: var(--primary-color);
}

.splashOptionSelected {
  color: var(--primary-text);
  background-color: var(--primary-color-sel);
}

.splashOption p {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splashDetail {
  position: relative;
  width: 100%;
  height: calc(100vh - 68px);
  background-color: #cedfef;
  background-size: cover;
}

.splashSlogan {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: calc(100vh - 68px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sloganTitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 40px;
}

.sloganText {
  font-size: 32px;
  font-weight: bold;
  color: var(--secondary-color);
  margin-left: 40px;
  max-width: 400px;
}

.sloganButton {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-text);
  background-color: var(--primary-color);
  height: 55px;
  width: 288px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  place-content: center;
  margin-top: 80px;
  margin-left: 40px;
}

.sloganButton:hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: #144552;
  transition: background .5s, color .5s;
}

.formButton {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-text);
  background-color: var(--secondary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  place-content: center;
  width: 100%;
  max-width: 535px;
  height: 68px;
  min-height: 68px;
  margin-bottom: 15px;
}

.formButton:hover {
  cursor: pointer;
  color: var(--primary-text);
  background-color: #144552;
  transition: background .5s, color .5s;
}

.aboutBody {
  /* CORPO TOTAL SOBRE */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.aboutDetail {
  /* MEIO SOBRE */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 230px);
  background-color: #f6f6f6;
  overflow: hidden;
}

.aboutFooter {
  /* DIV ESQ E DIR FOOTER SOBRE */
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 277px;
  background-color: var(--primary-color);
}

.aboutFooterDiv {
  /* DIV ESQ FOOTER SOBRE */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 277px;
}

.aboutFooter div:last-of-type {
  /* DIV DIREITA FOOTER SOBRE */
  background-color: var(--primary-color);
}

.footerTitle {
  /* TÍTULO ESQ E DIR FOOTER SOBRE */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--primary-text);
  text-align: center;
  margin: 0 10px;
  margin-top: 10px;
  padding: 10px;
}

.footerText {
  /* TEXTO ESQ E DIR FOOTER SOBRE */
  display: flex;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px;
  color: var(--primary-text);
  margin-top: 56px;
  padding: 10px;
  max-width: 619px;
}

.about1 {
  /* TELA ESQUERDA SOBRE */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-image: url('../images/about1.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.about2 {
  /* TELA DIREITA SOBRE */
  width: 50%;
  height: 100%;
  background-image: url('../images/about2.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
  z-index: 1;
}

/* .aboutTitle {
  position: absolute;
  left: 40px;
  top: 100px;
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 40px;
}

.aboutText {
  position: absolute;
  right: 40px;
  top: 100px;
  font-size: 32px;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 40px;
  max-width: 450px;
} */

.aboutDetailName {
  /* TÍTULO PÁGINA SOBRE */
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--primary-color);
}

.aboutDetailTitle {
  /* SUBTÍTULO PÁGINA SOBRE */
  margin: 0 20px;
  margin-top: 15px;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--primary-color);
  max-width: 647px;
}

.aboutDetailText {
  /* TEXTO PÁGINA SOBRE */
  margin-top: 78px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary-color);
  max-width: 693px;
  text-align: center;
}

.screen {
  /* TELA GERAL CONTATO, CADASTRO E LOGIN */
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.screenLeft {
  /* TELA ESQUERDA CONTATO, CADASTRO E LOGIN */
  flex: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

.screenRight {
  /* TELA DIREITA CONTATO, CADASTRO E LOGIN */
  flex: .5;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contato {
  /* PLANO DE FUNDO CONTATO */
  overflow: hidden;
  background-image: url('../images/contato.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(50% + 30%);
  opacity: 60%;
}

.cadastro {
  /* PLANO DE FUNDO CADASTRO */
  overflow: hidden;
  background-image: url('../images/create.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 60%;
}

.login {
  /* PLANO DE FUNDO LOGIN */
  overflow: hidden;
  background-image: url('../images/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  opacity: 60%;
}

.logo {
  /* LOGO BRANCO CONTATO, CADASTRO E LOGIN */
  width: 90px;
  height: 80px;
  background-image: url('../images/logowhite.png');
  background-position-x: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  /* TITULO CONTATO, CADASTRO E LOGIN */
  font-size: 40px;
  margin-block: 20px;
  font-weight: 500;
}

.text {
  /* SUBTITULO LOGIN */
  font-size: 20px;
  font-weight: 500;
}

.text a {
  /* LINK SUBTITULO LOGIN */
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-color-sel);
  text-decoration: none;
}

.forget {
  /* ESQUECEU A SENHA LOGIN */
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  max-width: 448px;
  margin-bottom: 33px;
  color: var(--input-color);
}

.forget:hover {
  /* ESQUECEU A SENHA LOGIN */
  cursor: pointer;
  color: var(--input-color-hover);
}

.screenTop {
  /* DIV LOGO + TEXTOS CONTATO, CADASTRO E LOGIN */
  margin-top: 60px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text);
  margin-bottom: 30px;
}

.screenBottom {
  /* FORMS CONTATO, CADASTRO E LOGIN */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 448px;
}

.comboField,
.inputField {
  /* INPUTS FORMS CONTATO, CADASTRO E LOGIN */
  width: 100%;
  height: 68px;
  margin-bottom: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: var (--input-color);
  border-radius: 15px;
  color: var(--input-color);
  background-color: var(--input-bgcolor);
  font-size: 20px;
  font-weight: 300;
}

.comboField:focus,
.inputField:focus {
  border: 3px solid var(--primary-color-sel);
}

.inputField::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--input-color);
}

.inputField::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--input-color);
}

.inputField:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--input-color);
}

.inputField:-moz-placeholder {
  /* Firefox 18- */
  color: var(--input-color);
}